@media screen and (min-width: 676px) {
        .modal-dialog {
          max-width: 100rem;  
        }
        
    }
      
@media screen and (max-width: 1400px) {
        *
        {
            
            font-size: 57%;
        }
        
        .sidebar    {
        font-size: 3.8rem;
        }
    }
            
