@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    height: 100vh;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
    /* font-family: "font-asap", sans-serif; */
    font-family: "Inter", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-family: "Poppins", sans-serif;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
}

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}

@layer components {
  body {
    @apply no-scrollbar bg-bg dark:bg-bg_dark;
  }
  .container {
    @apply mx-auto max-w-[70rem] px-4 sm:px-6 lg:px-8;
  }
}
